@model EHWA6.Models.Volunteer

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title   </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/themes/base/images/ehalogocropped.png" />
        <meta name="viewport" content="width=device-width" />
        <style>
            .mysec {
                font-size:18px;

            }
            .nav-item {
                padding:10px;
            }
             .mysec a:hover{
                    text-decoration:none;
                    background-color:yellow;
                    padding:10px
                }
            #logo {
                margin-top:20px;
                font-weight:bold;
                font-size:40px;
				text-shadow:-25px 15px 4px red,
				25px -15px 4px purple,
				3px -5px 4px pink;
            }
        </style>
        </head>
    <body align="center">
        <header style="background-color:black;padding:10px">
                <div style="text-align:center">
                    <section class="mysec">
                        <ul class="nav justify-content-center">
                          <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home")
                          </li>
                          <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home")
                          </li>
                          <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home")
                          </li>
                            <li class="nav-item">
                              @Html.ActionLink("Participate", "Index", "Volunteer");
                          </li>
                            <li class="nav-item">
                                @Html.ActionLink("Events List", "EventsList", "Volunteer");
                            </li>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <li class="nav-item" style="float:right">
                              @{Html.RenderPartial("_LoginPartial");}
                          </li>
                        </ul>
                    </section>
                </div>
        </header>

        <div class="container" style="margin-top:40px" align="center">
            <div class="card" style="background-color:antiquewhite;width:1000px">
              <div class="card-body">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table style="text-align:center">
        <tr>
            <th>@Html.LabelFor(model => model.EventsId, "Event Name")</th>
            <td>@Html.DropDownList("EventsId", String.Empty)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(model => model.EventsId)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.UserId, "Name")</th>
            <td>@Html.DropDownList("UserId", String.Empty)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(model => model.UserId)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Join" class="btn btn-primary"/></td>
        </tr>
        <tr>
            <td colspan="2">@Html.ActionLink("Volunteers List", "Index", null, new { @class = "btn btn-outline-primary" })</td>
        </tr>
    </table>
}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
