@model EHWA6.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title   </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/themes/base/images/ehalogocropped.png" />
        <meta name="viewport" content="width=device-width" />
        <style>
            .mysec {
                font-size:18px;

            }
            .nav-item {
                padding:10px;
            }
             .mysec a:hover{
                    text-decoration:none;
                    background-color:yellow;
                    padding:10px
                }
        </style>
        </head>
    <body align="center">
        <header style="background-color:black;padding:10px">
                <div style="text-align:center">
                    <section class="mysec">
                        <ul class="nav justify-content-center">
                          <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home")
                          </li>
                          <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home")
                          </li>
                          <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home")
                          </li>
                            <li class="nav-item">
                              @Html.ActionLink("Participate", "Index", "Volunteer");
                          </li> 
                          <li class="nav-item">
                              @Html.ActionLink("Data","Data","Home")
                          </li>
                          <li class="nav-item" style="float:right">
                              @{Html.RenderPartial("_LoginPartial");}
                          </li>
                        </ul>
                    </section>
                </div>
       
        </header>
        <div class="card" style="width:700px;height:auto;margin:auto;margin-top:20px;
        background-color:lightgrey;margin-bottom:20px;text-align:center" align="center">
          <div class="card-body">

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <h4>Log In Form</h4>
        <table cellpadding="5px" align="center">
            <tr>
                <th>@Html.LabelFor(m => m.UserName)</th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.Password)</th>
            </tr>
            <tr>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Log in" /></td>
            </tr>
        </table>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>
              </div>
        </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
        </body>
    </html>